/* .swiper {
    width: 600px;
    height: 300px;
} */


/* .swiper .swiper-button-prev {
    background-image: url("./angle-left_.png") !important;
    background-repeat: no-repeat !important;
    height: 50px;
} */




/* .swiper .swiper-button-next {
} */